{% load staticfiles %}
{% load bootstrap %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="shortcut icon" href="assets/ico/favicon.png">

    <title>AUDNET | CREATE</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->	
    <link href="{% static "css/main.css" %}" rel="stylesheet">
    
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/smoothscroll.js" %}"></script>
    

  </head>

  <body data-spy="scroll" data-offset="0" data-target="#navigation">

    <!-- Fixed navbar -->
	    <div id="navigation" class="navbar navbar-default navbar-fixed-top">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="/"><b>AUDNET</b></a>
	        </div>
	        <div class="navbar-collapse collapse">
	          <ul class="nav navbar-nav navbar-right">
	            <li class="active"><a href="/user/myposts" class="smothscroll">Cancel</a></li>
	            <li><a href="/logout" class="smothScroll">Logout</a></li>
	          </ul>
	        </div><!--/.nav-collapse -->
	      </div>
	    </div>


	<section id="home" name="home"></section>
	<div style="background-color:#34495E;">
		<div style="text-align:center;"><br>
			<font color="white" style="font-family:Raleway;" size=30 >Create a new post!</font><br>
		</div>
	</div><!--/ #headerwrap -->


	<section id="desc" name="desc"></section>
	
	<div style="width:400px; margin:0 auto;" >
				<form class="text-align:center;" action="/user/create/" method="post" enctype="multipart/form-data">{% csrf_token %}<br><br>
					{{ form|bootstrap }}
				<div style="text-align:center;">
					<input class="btn btn-default" type="submit" value="Create Post">
				</div>
				</form>
	</div>
	


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static "js/bootstrap.js" %}"></script>
	<script>
	$('.carousel').carousel({
	  interval: 3500
	})
	</script>
  </body>
</html>
